services:
  localstack:
    image: localstack/localstack:3
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb,lambda,apigateway,logs
      - DEBUG=0
      - AWS_DEFAULT_REGION=eu-west-1
    volumes:
      - "./localstack/init:/etc/localstack/init/ready.d"
      - "./app/backend:/backend:ro"
      - "./localstack/lambda:/lambda"
      - "./localstack/apigateway:/apigateway"
      - "/var/run/docker.sock:/var/run/docker.sock"

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://localstack:4566
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    depends_on:
      - localstack

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger-ui
    ports:
      - "8081:8080"
    environment:
      - SWAGGER_JSON=/swagger/swagger.json
    volumes:
      - ./localstack/apigateway:/swagger:ro
    depends_on:
      - localstack


  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=test
      - MINIO_ROOT_PASSWORD=test1234

  frontend:
    build:
      context: ./app/frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./app/frontend:/app
      - /app/node_modules
    depends_on:
      localstack:
        condition: service_healthy
    command: ["sh", "-c", "/app/wait-for-apigw.sh && npm run dev -- --host 0.0.0.0"]