AWSTemplateFormatVersion: "2010-09-09"
Description: S3 public bucket for static website (index.html) - alucloud92-public-frontend

Resources:
  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: alucloud92-public-frontend
      WebsiteConfiguration:
        IndexDocument: index.html
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false
      Tags:
        - Key: owner
          Value: alucloud92

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: PublicReadGetObject
            Effect: Allow
            Principal: "*"
            Action: "s3:GetObject"
            Resource: !Sub "arn:aws:s3:::${FrontendBucket}/*"

Outputs:
  BucketName:
    Value: !Ref FrontendBucket

  WebsiteURL:
    Description: S3 Static Website endpoint
    Value: !GetAtt FrontendBucket.WebsiteURL